@font-face {
  font-family: 'Sauce Grotesk';
  src: url('https://raw.githubusercontent.com/lizaponceg/fonts/refs/heads/main/Creative%20Sauce%20-%20Sauce%20Grotesk%20SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sauce Grotesk';
  src: url('https://raw.githubusercontent.com/lizaponceg/fonts/refs/heads/main/Creative%20Sauce%20-%20Sauce%20Grotesk%20Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sauce Grotesk';
  src: url('https://raw.githubusercontent.com/lizaponceg/fonts/refs/heads/main/Creative%20Sauce%20-%20Sauce%20Grotesk%20Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Awesome Serif';
  src: url('https://github.com/lizaponceg/fonts/raw/refs/heads/main/AwesomeSerifItalic-SemBdTall.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Awesome Serif';
  src: url('https://github.com/lizaponceg/fonts/raw/refs/heads/main/AwesomeSerif-BoldExtraTall.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
